h1.header-text {
    font-size: 2em;
    font-weight: unset;
    width: max-content;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

h1.header-text:before {
    content: "";
    position: absolute;
    width: calc(58vw - 100%);
    height: 1px;
    bottom: 10px;
    left: 105%;
    right: 0;
    margin: auto;
    background-color: #000000;
    padding-bottom: 6px;
}

h1.header-text > span {
    font-weight: 900;
}

.link {
    top: 72px;
    right: 1%;
    position: absolute;
    color: #767070;
}
