.header-container {
    position: absolute;
    float: left;
    padding: 10px;
    top: 0;
}

.header-top-left {
    font-size: 1.1em;
    position: absolute;
    top: 17px;
    left: 75px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
}
